In [90]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [91]:
from fastai.structured import *
from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)

PATH='data/'

In [92]:
!ls {PATH}

googletrend.csv		   state_names.csv   test.csv	    weather.csv
rossmann.tgz		   store.csv	     test.csv.zip
sample_submission.csv	   store.csv.zip     train.csv
sample_submission.csv.zip  store_states.csv  train.csv.zip

# Create datasets

In [93]:
def concat_csv(dirname): #implementation used to get the above data set
    path = f'{PATH}{dirname}'
    filenames=glob(f"{PATH}/*.csv")
    
    wrote_header = False
    with open(f"{path}.csv","w") as outputfile: #??
            for filename in filenames:
                name = filename.split(".")[0]
                with open(filename) as f:
                    line = f.readline()
                    if not wrote_header:
                        wrote_header = True
                        outputfile.write("file,"+line)
                    for line in f:
                        outputfile.write(name + "," + line)
                    outputfile.write("\n")

In [94]:
# concat_csvs('googletrend')
# concat_csvs('weather')

In [95]:
table_names = ['train','store','store_states','state_names',
              'googletrend','weather','test']

Feature Space:

- train: Training set provided by competition
- store: List of stores
- store_states: mapping of store to the German state they are in
- List of German state names
- googletrend: trend of certain google keywords over time, found by users to correlate well w/ given data
- weather: weather
- test: testing set

In [96]:
tables = [pd.read_csv(f'{PATH}{fname}.csv',low_memory=False) for fname in table_names]

In [97]:
tables

[         Store  DayOfWeek        Date  Sales  Customers  Open  Promo  \
 0            1          5  2015-07-31   5263        555     1      1
 1            2          5  2015-07-31   6064        625     1      1
 2            3          5  2015-07-31   8314        821     1      1
 3            4          5  2015-07-31  13995       1498     1      1
 4            5          5  2015-07-31   4822        559     1      1
 5            6          5  2015-07-31   5651        589     1      1
 6            7          5  2015-07-31  15344       1414     1      1
 7            8          5  2015-07-31   8492        833     1      1
 8            9          5  2015-07-31   8565        687     1      1
 9           10          5  2015-07-31   7185        681     1      1
 10          11          5  2015-07-31  10457       1236     1      1
 11          12          5  2015-07-31   8959        962     1      1
 12          13          5  2015-07-31   8821        568     1      1
 13          14          5  2015-07-31   6544        710     1      1
 14          15          5  2015-07-31   9191        766     1      1
 15          16          5  2015-07-31  10231        979     1      1
 16          17          5  2015-07-31   8430        946     1      1
 17          18          5  2015-07-31  10071        936     1      1
 18          19          5  2015-07-31   8234        718     1      1
 19          20          5  2015-07-31   9593        974     1      1
 20          21          5  2015-07-31   9515        682     1      1
 21          22          5  2015-07-31   6566        633     1      1
 22          23          5  2015-07-31   7273        560     1      1
 23          24          5  2015-07-31  14190       1082     1      1
 24          25          5  2015-07-31  14180       1586     1      1
 25          26          5  2015-07-31   7818        611     1      1
 26          27          5  2015-07-31  13213       1263     1      1
 27          28          5  2015-07-31   7301        663     1      1
 28          29          5  2015-07-31   9411        737     1      1
 29          30          5  2015-07-31   4776        625     1      1
 ...        ...        ...         ...    ...        ...   ...    ...
 1017179   1086          2  2013-01-01      0          0     0      0
 1017180   1087          2  2013-01-01      0          0     0      0
 1017181   1088          2  2013-01-01      0          0     0      0
 1017182   1089          2  2013-01-01      0          0     0      0
 1017183   1090          2  2013-01-01      0          0     0      0
 1017184   1091          2  2013-01-01      0          0     0      0
 1017185   1092          2  2013-01-01      0          0     0      0
 1017186   1093          2  2013-01-01      0          0     0      0
 1017187   1094          2  2013-01-01      0          0     0      0
 1017188   1095          2  2013-01-01      0          0     0      0
 1017189   1096          2  2013-01-01      0          0     0      0
 1017190   1097          2  2013-01-01   5961       1405     1      0
 1017191   1098          2  2013-01-01      0          0     0      0
 1017192   1099          2  2013-01-01      0          0     0      0
 1017193   1100          2  2013-01-01      0          0     0      0
 1017194   1101          2  2013-01-01      0          0     0      0
 1017195   1102          2  2013-01-01      0          0     0      0
 1017196   1103          2  2013-01-01      0          0     0      0
 1017197   1104          2  2013-01-01      0          0     0      0
 1017198   1105          2  2013-01-01      0          0     0      0
 1017199   1106          2  2013-01-01      0          0     0      0
 1017200   1107          2  2013-01-01      0          0     0      0
 1017201   1108          2  2013-01-01      0          0     0      0
 1017202   1109          2  2013-01-01      0          0     0      0
 1017203   1110          2  2013-01-01      0          0     0      0
 1017204   1111          2  2013-01-01      0          0     0      0
 1017205   1112          2  2013-01-01      0          0     0      0
 1017206   1113          2  2013-01-01      0          0     0      0
 1017207   1114          2  2013-01-01      0          0     0      0
 1017208   1115          2  2013-01-01      0          0     0      0

         StateHoliday  SchoolHoliday
 0                  0              1
 1                  0              1
 2                  0              1
 3                  0              1
 4                  0              1
 5                  0              1
 6                  0              1
 7                  0              1
 8                  0              1
 9                  0              1
 10                 0              1
 11                 0              1
 12                 0              0
 13                 0              1
 14                 0              1
 15                 0              1
 16                 0              1
 17                 0              1
 18                 0              1
 19                 0              0
 20                 0              1
 21                 0              0
 22                 0              1
 23                 0              1
 24                 0              1
 25                 0              1
 26                 0              1
 27                 0              1
 28                 0              1
 29                 0              1
 ...              ...            ...
 1017179            a              1
 1017180            a              1
 1017181            a              1
 1017182            a              1
 1017183            a              1
 1017184            a              1
 1017185            a              1
 1017186            a              1
 1017187            a              1
 1017188            a              1
 1017189            a              1
 1017190            a              1
 1017191            a              1
 1017192            a              1
 1017193            a              1
 1017194            a              1
 1017195            a              1
 1017196            a              1
 1017197            a              1
 1017198            a              1
 1017199            a              1
 1017200            a              1
 1017201            a              1
 1017202            a              1
 1017203            a              1
 1017204            a              1
 1017205            a              1
 1017206            a              1
 1017207            a              1
 1017208            a              1

 [1017209 rows x 9 columns],
       Store StoreType Assortment  CompetitionDistance  \
 0         1         c          a               1270.0
 1         2         a          a                570.0
 2         3         a          a              14130.0
 3         4         c          c                620.0
 4         5         a          a              29910.0
 5         6         a          a                310.0
 6         7         a          c              24000.0
 7         8         a          a               7520.0
 8         9         a          c               2030.0
 9        10         a          a               3160.0
 10       11         a          c                960.0
 11       12         a          c               1070.0
 12       13         d          a                310.0
 13       14         a          a               1300.0
 14       15         d          c               4110.0
 15       16         a          c               3270.0
 16       17         a          a                 50.0
 17       18         d          c              13840.0
 18       19         a          c               3240.0
 19       20         d          a               2340.0
 20       21         c          c                550.0
 21       22         a          a               1040.0
 22       23         d          a               4060.0
 23       24         a          c               4590.0
 24       25         c          a                430.0
 25       26         d          a               2300.0
 26       27         a          a                 60.0
 27       28         a          a               1200.0
 28       29         d          c               2170.0
 29       30         a          a                 40.0
 ...     ...       ...        ...                  ...
 1085   1086         a          a                180.0
 1086   1087         d          c               2210.0
 1087   1088         a          a               4300.0
 1088   1089         d          a               5220.0
 1089   1090         a          a                330.0
 1090   1091         a          c               9990.0
 1091   1092         a          a                300.0
 1092   1093         c          c              10450.0
 1093   1094         d          a               2380.0
 1094   1095         a          a                690.0
 1095   1096         a          c               1130.0
 1096   1097         b          b                720.0
 1097   1098         a          a               1830.0
 1098   1099         a          c                200.0
 1099   1100         a          a                540.0
 1100   1101         d          c               4060.0
 1101   1102         a          a                850.0
 1102   1103         d          c               1340.0
 1103   1104         d          a                260.0
 1104   1105         c          c                330.0
 1105   1106         a          c               5330.0
 1106   1107         a          a               1400.0
 1107   1108         a          a                540.0
 1108   1109         c          a               3490.0
 1109   1110         c          c                900.0
 1110   1111         a          a               1900.0
 1111   1112         c          c               1880.0
 1112   1113         a          c               9260.0
 1113   1114         a          c                870.0
 1114   1115         d          c               5350.0

       CompetitionOpenSinceMonth  CompetitionOpenSinceYear  Promo2  \
 0                           9.0                    2008.0       0
 1                          11.0                    2007.0       1
 2                          12.0                    2006.0       1
 3                           9.0                    2009.0       0
 4                           4.0                    2015.0       0
 5                          12.0                    2013.0       0
 6                           4.0                    2013.0       0
 7                          10.0                    2014.0       0
 8                           8.0                    2000.0       0
 9                           9.0                    2009.0       0
 10                         11.0                    2011.0       1
 11                          NaN                       NaN       1
 12                          NaN                       NaN       1
 13                          3.0                    2014.0       1
 14                          3.0                    2010.0       1
 15                          NaN                       NaN       0
 16                         12.0                    2005.0       1
 17                          6.0                    2010.0       1
 18                          NaN                       NaN       1
 19                          5.0                    2009.0       1
 20                         10.0                    1999.0       1
 21                          NaN                       NaN       1
 22                          8.0                    2005.0       0
 23                          3.0                    2000.0       1
 24                          4.0                    2003.0       0
 25                          NaN                       NaN       0
 26                          1.0                    2005.0       1
 27                         10.0                    2014.0       1
 28                          NaN                       NaN       0
 29                          2.0                    2014.0       1
 ...                         ...                       ...     ...
 1085                       11.0                    2013.0       1
 1086                       11.0                    2011.0       0
 1087                        3.0                    2009.0       1
 1088                        5.0                    2009.0       0
 1089                        NaN                       NaN       1
 1090                        NaN                       NaN       0
 1091                        7.0                    2000.0       1
 1092                        6.0                    2009.0       0
 1093                        3.0                    2013.0       1
 1094                        6.0                    2007.0       1
 1095                        NaN                       NaN       1
 1096                        3.0                    2002.0       0
 1097                       11.0                    2004.0       0
 1098                        4.0                    2013.0       1
 1099                        NaN                       NaN       1
 1100                        9.0                    2012.0       0
 1101                       11.0                    2012.0       1
 1102                       10.0                    2006.0       1
 1103                        2.0                    2012.0       1
 1104                       11.0                    2008.0       1
 1105                        9.0                    2011.0       1
 1106                        6.0                    2012.0       1
 1107                        4.0                    2004.0       0
 1108                        4.0                    2011.0       1
 1109                        9.0                    2010.0       0
 1110                        6.0                    2014.0       1
 1111                        4.0                    2006.0       0
 1112                        NaN                       NaN       0
 1113                        NaN                       NaN       0
 1114                        NaN                       NaN       1

       Promo2SinceWeek  Promo2SinceYear     PromoInterval
 0                 NaN              NaN               NaN
 1                13.0           2010.0   Jan,Apr,Jul,Oct
 2                14.0           2011.0   Jan,Apr,Jul,Oct
 3                 NaN              NaN               NaN
 4                 NaN              NaN               NaN
 5                 NaN              NaN               NaN
 6                 NaN              NaN               NaN
 7                 NaN              NaN               NaN
 8                 NaN              NaN               NaN
 9                 NaN              NaN               NaN
 10                1.0           2012.0   Jan,Apr,Jul,Oct
 11               13.0           2010.0   Jan,Apr,Jul,Oct
 12               45.0           2009.0   Feb,May,Aug,Nov
 13               40.0           2011.0   Jan,Apr,Jul,Oct
 14               14.0           2011.0   Jan,Apr,Jul,Oct
 15                NaN              NaN               NaN
 16               26.0           2010.0   Jan,Apr,Jul,Oct
 17               14.0           2012.0   Jan,Apr,Jul,Oct
 18               22.0           2011.0  Mar,Jun,Sept,Dec
 19               40.0           2014.0   Jan,Apr,Jul,Oct
 20               45.0           2009.0   Jan,Apr,Jul,Oct
 21               22.0           2012.0   Jan,Apr,Jul,Oct
 22                NaN              NaN               NaN
 23               40.0           2011.0   Jan,Apr,Jul,Oct
 24                NaN              NaN               NaN
 25                NaN              NaN               NaN
 26                5.0           2011.0   Jan,Apr,Jul,Oct
 27                6.0           2015.0  Mar,Jun,Sept,Dec
 28                NaN              NaN               NaN
 29               10.0           2014.0  Mar,Jun,Sept,Dec
 ...               ...              ...               ...
 1085             18.0           2011.0   Feb,May,Aug,Nov
 1086              NaN              NaN               NaN
 1087             27.0           2013.0   Jan,Apr,Jul,Oct
 1088              NaN              NaN               NaN
 1089             14.0           2011.0   Jan,Apr,Jul,Oct
 1090              NaN              NaN               NaN
 1091             40.0           2014.0   Jan,Apr,Jul,Oct
 1092              NaN              NaN               NaN
 1093             40.0           2014.0   Jan,Apr,Jul,Oct
 1094             14.0           2011.0   Jan,Apr,Jul,Oct
 1095             10.0           2014.0  Mar,Jun,Sept,Dec
 1096              NaN              NaN               NaN
 1097              NaN              NaN               NaN
 1098             14.0           2013.0   Jan,Apr,Jul,Oct
 1099             14.0           2011.0   Jan,Apr,Jul,Oct
 1100              NaN              NaN               NaN
 1101             40.0           2014.0   Jan,Apr,Jul,Oct
 1102              5.0           2013.0   Feb,May,Aug,Nov
 1103             14.0           2011.0   Jan,Apr,Jul,Oct
 1104              5.0           2013.0   Feb,May,Aug,Nov
 1105             31.0           2013.0   Jan,Apr,Jul,Oct
 1106             13.0           2010.0   Jan,Apr,Jul,Oct
 1107              NaN              NaN               NaN
 1108             22.0           2012.0   Jan,Apr,Jul,Oct
 1109              NaN              NaN               NaN
 1110             31.0           2013.0   Jan,Apr,Jul,Oct
 1111              NaN              NaN               NaN
 1112              NaN              NaN               NaN
 1113              NaN              NaN               NaN
 1114             22.0           2012.0  Mar,Jun,Sept,Dec

 [1115 rows x 10 columns],
       Store  State
 0         1     HE
 1         2     TH
 2         3     NW
 3         4     BE
 4         5     SN
 5         6     SN
 6         7     SH
 7         8     SH
 8         9     NW
 9        10  HB,NI
 10       11     SH
 11       12     SH
 12       13     BY
 13       14     NW
 14       15     SH
 15       16     BW
 16       17     TH
 17       18     TH
 18       19     NW
 19       20     BY
 20       21     BW
 21       22     BY
 22       23     RP
 23       24     NW
 24       25     NW
 25       26     TH
 26       27     NW
 27       28     ST
 28       29     NW
 29       30     NW
 ...     ...    ...
 1085   1086     HE
 1086   1087  HB,NI
 1087   1088     NW
 1088   1089     NW
 1089   1090     SN
 1090   1091     SH
 1091   1092     BY
 1092   1093     SN
 1093   1094     BY
 1094   1095     TH
 1095   1096     NW
 1096   1097     RP
 1097   1098     SN
 1098   1099     SH
 1099   1100     NW
 1100   1101     SH
 1101   1102     BY
 1102   1103     HE
 1103   1104     BY
 1104   1105     NW
 1105   1106     SH
 1106   1107     BY
 1107   1108     SN
 1108   1109     BY
 1109   1110     BE
 1110   1111     NW
 1111   1112     NW
 1112   1113     SH
 1113   1114     HH
 1114   1115     HE

 [1115 rows x 2 columns],
                 StateName  State
 0       BadenWuerttemberg     BW
 1                  Bayern     BY
 2                  Berlin     BE
 3             Brandenburg     BB
 4                  Bremen     HB
 5                 Hamburg     HH
 6                  Hessen     HE
 7   MecklenburgVorpommern     MV
 8           Niedersachsen  HB,NI
 9      NordrheinWestfalen     NW
 10         RheinlandPfalz     RP
 11               Saarland     SL
 12                Sachsen     SN
 13          SachsenAnhalt     ST
 14      SchleswigHolstein     SH
 15             Thueringen     TH,
                 file                     week  trend
 0     Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
 1     Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
 2     Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
 3     Rossmann_DE_SN  2012-12-23 - 2012-12-29     48

In [9]:
from IPython.display import HTML

In [10]:
#use head() to display tables
for t in tables: display(t.head())

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [11]:
#summarize aggregate information to each able accross each field
for t in tables: display(DataFrameSummary(t).summary())

AttributeError: module 'pandas.core.common' has no attribute 'is_numeric_dtype'

# Date Cleaning/Feature Engineering

In [98]:
train, store, store_states, state_names, googletrend, weather, test = tables

In [99]:
len(train),len(test)

(1017209, 41088)

In [100]:
#trun state Holiday to booleans
train.StateHoliday = train.StateHoliday!='0'
test.StateHoliday = test.StateHoliday!='0'

In [101]:
train.StateHoliday.head()

0    False
1    False
2    False
3    False
4    False
Name: StateHoliday, dtype: bool

In [102]:
#Pandas does joins using the merge method. The suffixes argument describes the naming convention for duplicate fields. 
#We've elected to leave the duplicate field names on the left untouched, and append a "_y" to those on the right.

def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on = left_on, right_on=right_on,
                            suffixes=('',suffix))

In [103]:
weather = join_df(weather, state_names, 'file', 'StateName')

In [104]:
googletrend.head()

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

In [105]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
#Use a boolean list to select all the NI values in the State column
#Using the .loc[rows, cols] feature to locate and replace selected values to 'HB,NI'
googletrend.loc[googletrend.State=='NI', 'State'] = 'HB,NI'

In [106]:
add_datepart(weather, 'Date', drop=False)
add_datepart(googletrend, 'Date', drop=False)
add_datepart(train, 'Date', drop=False)
add_datepart(test, 'Date', drop=False)

In [107]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

In [108]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [109]:
joined = join_df(train, store, "Store")
joined_test = join_df(test, store, "Store")
len(joined[joined.StoreType.isnull()]), len(joined_test[joined_test.StoreType.isnull()])

(0, 0)

In [40]:
googletrend.head()

,file,week,trend,Date,State,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,Rossmann_DE_SN,2012-12-02 - 2012-12-08,96,2012-12-02,SN,2012,12,48,2,6,337,False,False,False,False,False,False,1354406400
1,Rossmann_DE_SN,2012-12-09 - 2012-12-15,95,2012-12-09,SN,2012,12,49,9,6,344,False,False,False,False,False,False,1355011200
2,Rossmann_DE_SN,2012-12-16 - 2012-12-22,91,2012-12-16,SN,2012,12,50,16,6,351,False,False,False,False,False,False,1355616000
3,Rossmann_DE_SN,2012-12-23 - 2012-12-29,48,2012-12-23,SN,2012,12,51,23,6,358,False,False,False,False,False,False,1356220800
4,Rossmann_DE_SN,2012-12-30 - 2013-01-05,67,2012-12-30,SN,2012,12,52,30,6,365,False,False,False,False,False,False,1356825600

In [41]:
joined.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,State
0,1,5,2015-07-31,5263,555,1,1,False,1,2015,...,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,HE
1,2,5,2015-07-31,6064,625,1,1,False,1,2015,...,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",TH
2,3,5,2015-07-31,8314,821,1,1,False,1,2015,...,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NW
3,4,5,2015-07-31,13995,1498,1,1,False,1,2015,...,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN,BE
4,5,5,2015-07-31,4822,559,1,1,False,1,2015,...,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN,SN

In [110]:
joined = join_df(joined, googletrend, ['State', 'Year', 'Week'])
joined_test = join_df(joined_test, googletrend, ['State', 'Year', 'Week'])
len(joined[joined.trend.isnull()]), len(joined_test[joined_test.trend.isnull()])

(0, 0)

In [111]:
joined = joined.merge(trend_de, 'left', ['Year', 'Week'], suffixes=('','_DE'))
joined_test = joined_test.merge(trend_de, 'left', ['Year', 'Week'], suffixes=('','_DE'))
len(joined[joined.trend_DE.isnull()]), len(joined_test[joined_test.trend_DE.isnull()])

(0, 0)

In [112]:
joined = join_df(joined, weather, ['State','Date'])
joined_test = join_df(joined_test, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()]), len(joined_test[joined_test.Mean_TemperatureC.isnull()])

(0, 0)

In [113]:
for df in (joined, joined_test):
    for c in df.columns:
        if c.endswith('_y'):
            if c in df.columns: df.drop(c, inplace=True, axis=1)

In [114]:
#dealing with missing values
for df in (joined, joined_test):
    df['CompetitionOpenSnceYear'] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
    df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
    df['Promo2SinceYear'] = df.Promo2SinceYear.fillna(1900).astype(np.int32)
    df['Promo2SinceWeek'] = df.Promo2SinceWeek.fillna(1)

In [118]:
for df in (joined, joined_test):
    df['CompetitionOpenSince'] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear,
                                                    month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

In [119]:
for df in (joined,joined_test): #?? Why assign value of zeros
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

In [120]:
for df in (joined, joined_test):## issue here, inconsistent result from original notebook
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"]//30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24.,  3., 19.,  9., nan, 16., 17.,  7., 15., 22., 11., 13.,  2., 23.,  0., 12.,  4., 10.,  1., 14.,
       20.,  8., 18.,  6., 21.,  5.])